# Binaries
codeplugs
main

# Database
*.db
*.db-journal
*.db-wal

# Temporary Files
tmp/
.DS_Store

# Frontend
frontend/node_modules/
frontend/dist/

# CSVs (Optional, depends if you want to track them)
# *.csv

# Logs
*.log
